SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE      COMP "osc_clk_in" SITE "P3";
IOBUF       PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk_i" 25 MHZ;

LOCATE      COMP "led0" SITE "U16";
IOBUF       PORT "led0" IO_TYPE=LVCMOS25;

LOCATE COMP "P2_3"  SITE "K18";
LOCATE COMP "P2_4"  SITE "T18";
LOCATE COMP "P2_5"  SITE "R17";
LOCATE COMP "P2_6"  SITE "M17";
LOCATE COMP "P2_7"  SITE "U18";
LOCATE COMP "P2_9"  SITE "P18";

LOCATE COMP "P2_12" SITE "N18";
LOCATE COMP "P2_13" SITE "L20";
LOCATE COMP "P2_14" SITE "K20";
LOCATE COMP "P2_15" SITE "G20";

LOCATE COMP "P2_16" SITE "J20";
LOCATE COMP "P2_17" SITE "L18";
LOCATE COMP "P2_18" SITE "M18";
LOCATE COMP "P2_19" SITE "N17";

LOCATE COMP "P2_22" SITE "U17";

LOCATE COMP "P2_24" SITE "T17";
LOCATE COMP "P2_25" SITE "P17";
LOCATE COMP "P2_26" SITE "R18";
LOCATE COMP "P2_27" SITE "C18";
LOCATE COMP "P2_28" SITE "U16";

IOBUF  PORT "P2_3"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_4"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_5"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_6"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_7"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_9"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_15" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_16" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_17" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_18" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_19" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_25" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


########### P3 ###########

LOCATE COMP "P3_3"  SITE "D20";
LOCATE COMP "P3_4"  SITE "B19";
LOCATE COMP "P3_5"  SITE "A19";
LOCATE COMP "P3_6"  SITE "A18";
LOCATE COMP "P3_7"  SITE "C4";
LOCATE COMP "P3_9"  SITE "C3";

LOCATE COMP "P3_12" SITE "A12";
LOCATE COMP "P3_13" SITE "B1";
LOCATE COMP "P3_14" SITE "D2";
LOCATE COMP "P3_15" SITE "E2";

LOCATE COMP "P3_16" SITE "D1";
LOCATE COMP "P3_17" SITE "C1";
LOCATE COMP "P3_18" SITE "C2";
LOCATE COMP "P3_19" SITE "E3";

LOCATE COMP "P3_22" SITE "B4";

LOCATE COMP "P3_24" SITE "D3";
LOCATE COMP "P3_25" SITE "C17";
LOCATE COMP "P3_26" SITE "B18";
LOCATE COMP "P3_27" SITE "B20";
LOCATE COMP "P3_28" SITE "F20";

IOBUF  PORT "P3_3"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_4"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_5"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_6"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_7"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_9"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_15" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_16" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_17" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_18" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_19" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_25" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

########### P6 ###########

LOCATE COMP "P6_3"  SITE "J18";
LOCATE COMP "P6_4"  SITE "P16";
LOCATE COMP "P6_5"  SITE "L4";
LOCATE COMP "P6_6"  SITE "N4";
LOCATE COMP "P6_7"  SITE "T3";
LOCATE COMP "P6_9"  SITE "T2";

LOCATE COMP "P6_12" SITE "N2";
LOCATE COMP "P6_13" SITE "V1";
LOCATE COMP "P6_14" SITE "Y2";
LOCATE COMP "P6_15" SITE "T1";

LOCATE COMP "P6_16" SITE "R1";
LOCATE COMP "P6_17" SITE "U1";
LOCATE COMP "P6_18" SITE "W1";
LOCATE COMP "P6_19" SITE "M1";

LOCATE COMP "P6_22" SITE "N3";

LOCATE COMP "P6_24" SITE "M3";
LOCATE COMP "P6_25" SITE "R3";
#LOCATE COMP "P6_26" SITE "M4";
LOCATE COMP "spdif_out" SITE "M4";
LOCATE COMP "P6_27" SITE "L5";
LOCATE COMP "P6_28" SITE "J16";

IOBUF  PORT "P6_3"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_4"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_5"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_6"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_7"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_9"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_15" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_16" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_17" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_18" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_19" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_25" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
